.foot
{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    position: fixed;
}
.brd
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 30px;
}
#sc
{
    overflow: scroll;
}
nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul
{
    list-style-type: none;
}
body
{
    padding-top: 1em;
}
.carousel-caption
{
    color: #101010;
}
.carousel
{
    margin-top: 10px;
}
.cardMargin
{
    margin: 5px;
}